p{
    margin-left: 20%;
    margin-top: -23%;
}
.container{

    margin-left: 20%;
    margin-top: 0%;
    margin-right: 20px;

}

.back-button{
  color: #161616;
  margin-left: 12px;
}

.history-position{
  position: absolute;
  top: -1%;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  margin-left: 6% !important;
}

.agreement-actions{
  position: absolute;
  top: 11%;
  left:4%;
}

.agreement-actions .zmdi-hc-lg {
   font-size: initial !important;
   margin-left: 11px;
}

.action-label{
  margin-left: 11px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #161616;
}

.form-position{
  margin-top: 8% !important;
  margin-left: 5% !important;
  position: relative;
}

.input-agreement-details{
  margin-right: 70px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  align-items: center;
  color: rgba(22, 22, 22, 0.8);
}

.lmargin14{
  margin-left: 14%;
}

.margin3per{
  margin-left: 3% !important;
  
}

.agreement-save-btn{
  background-color: #f87d37 !important;
  color: white !important;
}

.platform-test-area-label{
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;
  color: #161616;
  margin-bottom: 1%;

}

.platform-text-area{
  border: 1px solid rgba(22, 22, 22, 0.2);
  box-sizing: border-box;
  border-radius: 10px;
  height: 140px;
  width: 99%;
  margin-bottom: 20px;
  float: left;
}

::ng-deep .territoryPanelClass{
  min-width: 100% !important;
}

::ng-deep .rightsPanelClass{
  margin-top: 25% !important;
}

.agreement-save-btn-disabled{
  border: 1px solid #999999 !important;
background-color: #cccccc !important;
color: #666666 !important;
}

#gridListFor4 .mat-grid-tile{
  width:23% !important;
}

::ng-deep #agreement-detail .mat-figure{
  display: inline-block !important;
}

#gridListFor5 .mat-grid-tile{
  width:18% !important;
}

.error-msg-size{
  font-size: 60% !important;
}

.duplicate-agreement-save-btn{
  background-color: #f87d37 !important;
  color: white !important;
}

.duplicate-agreement-save-btn:disabled{
  border: 1px solid #999999 !important;
  background-color: #cccccc !important;
  color: #666666 !important;
}
.duplicate-error{
  font-size: 60% !important;
  display: inline block !important;
  color: #FF9494;
}


