
<app-navigation></app-navigation>
<p>amenities works!</p>
<div class="container">
  <div [hidden]="submitted">
    <h1></h1>
<!-- ====================================================  -->
  <div>
    <form [formGroup]="myGroup1">

       <!-- ... all of the form ... -->
       <!-- <mat-grid-tile> -->
         
        <mat-form-field class="input-agreement-details">
            <mat-label> Title</mat-label>
            <input matInput formControlName="amenities" placeholder="Title"
                class="input-agreement-details" [(ngModel)]="amenities" [disabled]="true">
        </mat-form-field >
    <mat-grid-list cols="1" >
  
      <button mat-raised-button *ngIf="!myGroup1.invalid"
          class="agreement-save-btn" (click)="onSubmit()" routerLink="/resources">Save</button>
      <button mat-raised-button *ngIf="myGroup1.invalid"
          class="agreement-save-btn-disabled" disabled>Save</button>
  </mat-grid-list>
 
    </form>
  </div>
<!-- ====================================================  -->
